@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F0F4F8;
}

.formulario {
    width: 100%;
    max-width: 700px;
    /* Aumentando a largura do formulário */
    padding: 30px;
    border-radius: 12px;
    background-color: #344966;
    color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.formulario h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Duas colunas */
    gap: 20px;
    /* Espaçamento entre os inputs */
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 2.1rem;
    margin-bottom: 8px;
    color: #aab7c4;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1.5rem;
    background-color: #2e3b4e;
    color: #ffffff;
    border: 1px solid #56657f;
    border-radius: 8px;
    transition: border 0.3s ease;
}

.input-group input::placeholder {
    color: #aab7c4;
}

.input-group input:focus {
    border-color: #8ac6d1;
    outline: none;
}

input[readonly] {
    background-color: #2b3647;
    color: #aab7c4;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Em telas menores, usar apenas uma coluna */
    }

    .formulario {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .formulario {
        width: 95%;
    }

    .formulario h2 {
        font-size: 1.6rem;
    }

    .input-group input {
        font-size: 0.9rem;
    }
}